<div class="row menu pie py-3">
  <div class="col-sm-1"></div>
  <div class="col-sm-5 py-2">
      <span>LA TABLITA GROUP CIA. LTDA. Todos los derechos reservados. © 2017</span>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-2 text-center">Quienes somos</div>
      <div class="col-sm-2 text-center">Locales</div>
      <div class="col-sm-2 text-center">Factura eletrónica</div>
      <div class="col-sm-2 text-center">Trabaja con nosotros</div>
      <div class="col-sm-2 text-center">ATENCIÓN AL CLIENTE</div>
      <div class="col-sm-1 text-center">f</div>
      <div class="col-sm-1 text-center">i</div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>