<div class="row fondo menu pt-4 pb-5">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-3">
        <img [src]="logoTablita" [alt]="textoAlternativo">
        <p class="pt-3 pb-2">MAPA DE COBERTURA</p>
        <p class="pt-2">FACTURA ELECTRÓNICA</p>
      </div>
      <div class="col-sm-3">
        <h6>QUIÉNES SOMOS</h6>
        <p>Fundada en 1996, La Tablita del Tártaro ofrece a sus clientes las mejores carnes al carbón con un menu variado que va desde ricas hamburguesas hasta combos familiares y personales.</p>
        <p>ATENCIÓN AL CLIENTE llámanos ahora al 1800 TABLITA (8225481).</p>
        <p>Escríbenos AHORA!! servicioalcliente@latablitadeltartaro.com.</p>
      </div>
      <div class="col-sm-3">
        <h6>LOS MÁS PEDIDOS</h6>
        <ul>
          <li>Parrillada individual</li>
          <li>Parrillada para dos</li>
          <li>Combo pincho</li>
          <li>Hamburguesa de carne</li>
          <li>Parrillada La Tablita</li>
          <li>EXPERTOS AL CARBÓN</li>
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>