<mat-card class="my-card">
    <mat-card-title-group>
        <mat-card-title>Inicio de Sesión</mat-card-title>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card-title-group>
    <form
        class="my-form"
        #formularioLogin="ngForm"
        novalidate
        (submit)="login(formularioLogin)">
        <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input 
                        matInput 
                        placeholder="Nombre de Usuario" 
                        name="usuario"
                        [(ngModel)]="nombreUsuario" 
                        required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input 
                        matInput 
                        placeholder="Password" 
                        name="password" 
                        [(ngModel)]="passwordUsuario"
                        required>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" [disabled]="formularioLogin.invalid" color="accent">Ingresar</button>
        </mat-card-actions>
    </form>
</mat-card>